
/* ========== CHALLENGE 1 ========== //
//
// Add some padding and margins to our elements, give the
//      -- recipe-card an equal margin of 20px 
//      and a padding of 50px
//      -- recipe-content an equal padding of 20px
//      -- paragraphs a bottom margin of 20px
//      -- link an equal margin of 20px 
//      and a padding of 10px (top and bottom) 12px (left and right)
*/
* {
    line-height: 1.5;
    border: 2px dotted red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c2a3d1;
}

p{
    margin-bottom: 20px;
}

img {
    width: 200px;
}

ul {
    list-style: none;
}

h1 {
    color: darkred;
}

.recipe-card {
    width: 600px;
    text-align: center;
    background-color: #FFFAFA;
    margin: 20px auto;
    padding: 50px;
    border: 2px solid yellow;
}

.recipe-content {
    text-align: left;
    padding: 20px;
}

.recipe-card h2,
.recipe-card a {
    text-transform: uppercase;
}

.recipe-card.feature {
    border: 2px solid darkred;
}

ul li h2 {
    font-size: 16px;
}

.recipe-card a {
    background-color: #fc9400;
    color: #fff;
    text-decoration: none;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
}